<style>
table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 80%;
border-collapse:
collapse; border-spacing: 0;
}

td, th {
border: 1px solid transparent; /* No more visible border */
height: 30px;
transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: left;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F2F1F1; }  

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; } 

tr td:hover { background: #9c9faa; color: #FFF; } /* Hover cell effect! */

      a:link {
         color: #333;
         background-color: transparent;
         text-decoration: none;
      }
      a:visited {
         color: #333;
         background-color: transparent;
         text-decoration: none;
      }
      a:active {
         color: #333;
         background-color: transparent;
      }
      a:hover { background: #777; color: #FFF; }
</style>
<script>
    function showMD(path) {
        loadInnerPage('@contextpath@@request.getServletPath*()*@/', '#Showmd?location='+path, '#payload') // escape special symbols from path
        subscribeFor(path)
    }
</script>
<div class="form_header">@label.title@</div>
<table>
<tr>
   <th></th>
   <th>@label.document@</th>
   <th>@label.edited@</th>
</tr>
@model(
   <tr>
      <td><img src="@request.getContextPath*()*@/image/@element.directory{@true(folder)@@false(file)@}@.png" width="45" height="32"></td>
      <td >@element.directory{@true(<a href="#Listmd?location=@element.path@">@element.name@</a>)@
                       @false(<a href="javascript:void(0)" onclick="showMD(@element.path@)">@element.name@</a>)@}@</td>
      <td>@element.last_date@</td>
   </tr>
)@
</table>